{% load static %}
<!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <h2 class="navbar-brand-img text-primary" alt="..."><b>SMS</b></h2>
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              {% url 'admin_dashboard' as admin_dashboard %}
              <a class="nav-link {% if request.path == admin_dashboard %} active {% endif %}" href="{{ admin_dashboard }}">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              {% url 'admin_manage_staff' as admin_manage_staff%}
              <a class="nav-link {% if request.path == admin_manage_staff %} active {% endif %}" href="{{ admin_manage_staff }}">
                <i class="ni ni-settings text-green"></i>
                <span class="nav-link-text">Manage Staff</span>
              </a>
            </li>
            <li class="nav-item">
              {% url 'admin_manage_student' as admin_manage_student %}
              <a class="nav-link {% if request.path == admin_manage_student %} active {% endif %}" href="{{ admin_manage_student }}">
                <i class="ni ni-settings text-green"></i>
                <span class="nav-link-text">Manage Student</span>
              </a>
            </li>
            <li class="nav-item">
              {% url 'admin_manage_course' as admin_manage_course %}
              <a class="nav-link {% if request.path == admin_manage_course %} active {% endif %}" href="{{ admin_manage_course }}">
                <i class="ni ni-settings text-green"></i>
                <span class="nav-link-text">Manage Course</span>
              </a>
            </li>
            <li class="nav-item">
              {% url 'admin_manage_subject' as admin_manage_subject %}
              <a class="nav-link {% if request.path == admin_manage_subject %} active {% endif %}" href="{{ admin_manage_subject }}">
                <i class="ni ni-settings text-green"></i>
                <span class="nav-link-text">Manage Subject</span>
              </a>
            </li>
            <li class="nav-item">
              {% url 'admin_manage_session_year' as admin_manage_session_year %}
              <a class="nav-link {% if request.path == admin_manage_session_year %} active {% endif %}" href="{{ admin_manage_session_year }}">
                <i class="ni ni-settings text-green"></i>
                <span class="nav-link-text">Manage Session year</span>
              </a>
            </li>
            <hr class="my-3">
            <li class="nav-item">
              {% url 'admin_view_attendance' as admin_view_attendance %}
              <a class="nav-link {% if request.path == admin_view_attendance %} active {% endif %}" href="{{ admin_view_attendance }}">
                <i class="ni ni-glasses-2 text-primary"></i>
                <span class="nav-link-text">View attendance</span>
              </a>
            </li>
            <li class="nav-item">
              {% url 'admin_feedback_staff' as admin_feedback_staff %}
              <a class="nav-link {% if request.path == admin_feedback_staff %} active {% endif %}" href="{{ admin_feedback_staff }}">
                <i class="ni ni-settings text-pink"></i>
                <span class="nav-link-text">Staff feedback</span>
              </a>
            </li>
            <li class="nav-item">
              {% url 'admin_feedback_student' as admin_feedback_student %}
              <a class="nav-link {% if request.path == admin_feedback_student %} active {% endif %}" href="{{ admin_feedback_student }}">
                <i class="ni ni-settings text-pink"></i>
                <span class="nav-link-text">Student feedback</span>
              </a>
            </li>
            <hr class="my-3">
            <li class="nav-item">
              {% url 'admin_leave_student' as admin_leave_student %}
              <a class="nav-link {% if request.path == admin_leave_student %} active {% endif %}" href="{{ admin_leave_student }}">
                <i class="ni ni-delivery-fast text-red"></i>
                <span class="nav-link-text">Leave student</span>
              </a>
            </li>
            <li class="nav-item">
              {% url 'admin_leave_staff' as admin_leave_staff %}
              <a class="nav-link {% if request.path == admin_leave_staff %} active {% endif %}" href="{{ admin_leave_staff }}">
                <i class="ni ni-delivery-fast text-red"></i>
                <span class="nav-link-text">Leave staff</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>