{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
<!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">{{ page_tittle }}</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
              <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                  <h3 class="mb-0">{{ page_tittle }}</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Student ID</th>
                        <th scope="col">Student name</th>
                        <th scope="col">Student session year</th>
                        <th scope="col">Feedback message</th>
                        <th scope="col">Feedback reply</th>
                        <th scope="col">Sent on</th>
                      </tr>
                    </thead>
                    <tbody class="list">
                      {% for feedback in feedbacks %}
                      <tr>
                        <td>{{ feedback.id }}</td>
                        <td>{{ feedback.student_id.admin.id }}</td>
                        <td>{{ feedback.student_id.admin.first_name }} {{ feedback.student_id.admin.last_name }}</td>
                        <td>{{ feedback.student_id.session_year_id.session_start_year }} - {{ feedback.student_id.session_year_id.session_end_year }}</td>
                        <td>{{ feedback.feedback }}</td>
                        <td>
                            {% if feedback.feedback_reply == "" %}
                                <button class="col btn btn-success mr-2 text-white open_modal" data-toggle="modal" data-target="#reply_modal">Reply</button>
                            {% else %}
                                {{ feedback.feedback_reply }}
                            {% endif %}
                        </td>
                        <td>{{ feedback.created_at }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- Card footer -->
                <div class="card-footer py-4">
                  <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                      {% for page_index in page %}
                        <li class="page-item">
                            <a href="{% url 'admin_feedback_student' %}?page={{ page_index }}" id="page_index" class="page-link">{{ page_index }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reply_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <input type="hidden" id="reply_id" name="reply_id">
          <label class="form-control-label">Reply feedback to <b><span id="reply_name" class="text-primary"></span></b></label>
          <textarea class="form-control" rows="4" id="reply_message" name="reply_message"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="reply_button">Reply feedback</button>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
{% block custom_js %}
<script>
    $(document).ready(function(){
        $('.open_modal').click(function(){
            var id = $(this).parents('tr').children('td:eq(0)').text();
            var name = $(this).parents('tr').children('td:eq(2)').text();

            $('#reply_id').val(id);
            $('#reply_name').text(name);
        });

        $(document).on('click', '#reply_button', function(){
                $(this).attr('disabled', 'disabled')
                $(this).text('Sending reply...')

                var id = $('#reply_id').val()
                var message = $('#reply_message').val()

                $.ajax({
                    url:'{% url 'admin_feedback_student_reply' %}',
                    type:'POST',
                    data:{
                        id:id,
                        message:message,
                    },
                    })
                    .done(function (response) {
                        if(response == 'True'){
                            alert('Reply has been sent!')
                        }
                        else{
                            alert('Reply failed to sent!')
                        }
                        window.location.reload()
                    })
                    .fail(function (){
                        alert('Error reply feedback!')
                    })
            })
    })
</script>
{% endblock custom_js %}