{% extends 'student_template/base.html' %}
{% load static %}
{% block page_content %}
<!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="{% url 'student_dashboard' %}"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">{{ page_tittle }}</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-6 order-xl-1">
          <form action="{% url 'student_view_attendance_post' %}" method="POST">
              {% csrf_token %}
              <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">{{ page_tittle }} </h3>
                      {% if messages %}
                        <div class="col-8">
                            {% for message in messages %}
                            {% if message.tags == 'error'%}
                            <span class="text-red mb-0"><small>{{ message }}</small></span>
                            {% endif %}
                            {% if message.tags == 'success'%}
                            <span class="text-green mb-0"><small>{{ message }}</small></span>
                            {% endif %}
                            {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">Attendance information</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-8">
                          <div class="form-group">
                            <label class="form-control-label">Subject</label>
                              <select class="form-control" name="subject" id="subject">
                                  {% for subject in subjects %}
                                      <option class="form-control" value="{{ subject.id }}">{{ subject.subject_name }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="form-control-label">Start date</label>
                              <input class="form-control" type="date" name="start_date" id="start_date" placeholder="Start date">
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label class="form-control-label">End date</label>
                              <input class="form-control" type="date" name="end_date" id="end_date" placeholder="End date">
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="text-left">
                          <button type="submit" class="btn btn-primary text-white" id="filter_student">Filter attendance</button>
                      </div>
                    </div>
                </div>
              </div>
          </form>
        </div>

        <div class="col-xl-6 order-xl-2">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Data student </h3>
                  {% if messages %}
                    <div class="col-8">
                        {% for message in messages %}
                        {% if message.tags == 'error'%}
                        <span class="text-red mb-0"><small>{{ message }}</small></span>
                        {% endif %}
                        {% if message.tags == 'success'%}
                        <span class="text-green mb-0"><small>{{ message }}</small></span>
                        {% endif %}
                        {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="card-body">
                <div class="pl-lg-4">
                  <div id="student_data">

                  </div>
                  <br>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock page_content %}